$gray: #f0f2f5;
$white: #fff;
$blue: #1890ff;
$green: #87d068;
$red: #ff4d4f;

* {
  user-select: none;
}
html, body, .root, .app {
  height: 100%;
}
.root {
  position: relative;
}
.root-drag {
  cursor: move!important;
}
.header, .side-left, .content, .side-right {
  background: $white;
}
.side-left2, .side-right {
  flex: none!important;
  width: 300px!important;
  max-width: none!important;
} 
.side-left {
  border-right: 1px solid $gray;
}
.side-right {
  padding: 0 10px;
  border-left: 1px solid $gray;
  .ant-form-item {
    margin-bottom: 0;
  }
  .ant-tabs {
    overflow: scroll;
    height: 100%;
  }
  .ant-tabs-bar {
    position: sticky;
    top: 0;
    background: $white;
    z-index: 10;
  }
}
.content {
  padding: 10px;
}
.header {
  border-bottom: 1px solid $gray;
}
.page {
  height: 100%;
}
.com-wrapper {
  position: relative;
}
.com-hover {
  outline: 1px dashed $blue!important;
}
.com-active {
  outline: 2px dashed $blue!important;
}
.com-tree {
  padding: 10px;
}
.com-tree-item {
  display: flex;
  align-items: center;
  border-radius: 2px;
  transition: 0.2s;
}
.com-tree-arrow {
  cursor: pointer;
}
.com-tree-text {
  position: relative;
  line-height: 30px;
  padding: 0 4px;
  width: 100%;
}
.com-tree-hover {
  background: $gray;
}
.com-tree-drag-hover {
  color: $blue;
}
.com-tree-active {
  background: $blue;
  color: $white!important;
}
.com-tree-drag-holder {
  position: absolute;
  left: 0;
  width: 100%;
  height: 8px;
}
.com-tree-drag-holder-top {
  top: 0;
}
.com-tree-drag-holder-bottom {
  bottom: 0;
}
.com-tree-drag-hover {
  .com-tree-drag-holder-top {
    &:hover {
      border-top: 2px solid $red;
    }
  }
  .com-tree-drag-holder-bottom {
    &:hover {
      border-bottom: 2px solid $red;
    }
  }
}
.com-drag {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  transition: none;
  background: $green;
  color: $white;
  opacity: 0.4;
}
.com-list {
  div {
    &:hover {
      background: $gray;
    }
  }
}